<window-component [inputId]="id" [programDefinition]="programDefinition" (focusChanged)="focusChanged($event)">
  <div class="full">
    <div #consoleWrapper [style.font-size.pt]="fontSize" (click)="focusChanged(true)" class="console-output full">
      <p *ngFor="let line of lines" [innerHTML]="line" class="output"></p>
      <div class="flex input vert-top">
        <p>{{console.user}}@{{console.directory}} $&nbsp;</p>
        <textarea #inputArea
                  (keydown.enter)="enterKeyListener($event)"
                  (keydown.arrowDown)="moveUpHistory()"
                  (keydown.arrowUp)="moveDownHistory()"

                  [style.font-size.pt]="fontSize" autofocus="true" class="grow"></textarea>
      </div>
    </div>
  </div>
</window-component>
