<window-component [inputId]="id" [programDefinition]="programDefinition">
  <div class="full">
    <div  #consoleWrapper [style.font-size.pt]="fontSize" class="console-output full">
      <p *ngFor="let line of lines" class="output">{{line}}</p>
      <div class="flex input vert-top">
        <p>{{console.user}}@{{console.directory}} $&nbsp;</p>
        <textarea #inputArea (keyDown.enter)="consoleKeyListener($event)" [style.font-size.pt]="fontSize" autofocus="true" class="grow"></textarea>
      </div>
    </div>
  </div>
</window-component>
