@import url('https://fonts.googleapis.com/css?family=Inconsolata');

p, textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.console-output {
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}

::ng-deep .directory {
  color: #3666ff;
}

$color: #00ff00;
$consoleFont: 'Inconsolata', monospace;
.input {
  color: $color;
  font-family: $consoleFont;

  textarea {
    background: none;
    border: none;
    color: $color;
    font-family: $consoleFont;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}
.output {
  color: $color;
  font-family: $consoleFont;
  width: 100%;
  word-wrap: break-word;
}
