.content-wrapper {
  overflow: hidden;
  height: calc(100% - 31px); // -31 because of header
}

.focused {
  border: 2px solid #04a7ff;
  .actual-header h5 {
    color: black;
  }
}
.focused-not {
  border: 2px solid transparent; /*makes adding the blue border not resize everything*/
  .actual-header h5 {
    color: rgb(100, 100, 100);
  }
}

.header-wrapper {
  height: 31px;
  position: relative;
  width: 100%;

  .actual-header {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    user-select: none;
    width: 100%;

    &::after {
      background-color: white;
      display: block;
      content: '';
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }


  .buttons {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    span {
      display: block;
    }
  }

  .header {
    color: black;
    margin: 0;
    padding: 0;
    min-width: min-content;
    min-height: min-content;
    position: relative;
    white-space: nowrap;
    z-index: 1;
  }
}

.transparent-frame {
  height: 400px;
  overflow: hidden;
  padding: 10px; /* make sure this aligns with acceptable error */
  position: absolute;
  user-select: none;
  width: 20%;
}
.wrapper {
  background-color: white;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
