<div *ngIf="disclaimer && !mobilePrompt" class="disclaimer full-width">
  <p>
    Note this website is a WIP. I'm developing it 
    <a href="https://github.com/Navbryce/WindowsPortfolio" target="_blank">with extendability in mind for other users.</a>
  </p>
  <a (click)="disclaimer = !disclaimer" class="disc-toggle"  href="">Ok</a>
</div>
<div [hidden]="mobilePrompt" class="browser-wrapper">
  <div #desktop class="content">
    <desktop></desktop>
  </div>
  <taskbar></taskbar>
</div>
<ng-container *ngIf="mobilePrompt">
  <p>
    This website is designed for a desktop experience. With this in mind,
    would you like to continue to a simplified experience, AKA, my resume?
    If you continue, this prompt will NOT be asked again.
  </p>
  <div>
    <a href="{{environment.backend.full}}/assets/portfolio-documents/SoftwareResume.pdf"><button>Simplified</button></a>
    <button (click)="mobilePrompt = false; mobilePromptAnswered = true;">Continue</button>
  </div>
</ng-container>
