.browser-wrapper {
  font-family: "webly-ui";
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  .content {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

}
.disclaimer {
  background-color: rgba(13, 118, 255, 0.95);
  border-bottom: 1px solid black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  position: absolute;
  user-select: none !important;
  z-index: 5;

  a {
    color: #85ff00;
  }

  p {
    display: inline;
    vertical-align: middle;
  }

  .disc-toggle {
    display: inline;
    float: right;
    font-size: 18pt;
    opacity: 1;
    padding-right: 30px;
    vertical-align: middle;
  }
}
