.background {
    background-color: rgb(180, 180, 180);
}
.toolbar {
    height: 30px;
}
.wrapper {
    padding: 10px;

    .viewer {
        position: relative;
        z-index: 0;
    }

    .tools {
        bottom: 30px;
        position: absolute;
        right: 35px;
        z-index: 1;
    }
}
