/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex {
  display: flex;
  &.horizon-cent {
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.vert-cent {
    align-items: center;
  }
  &.vert-top {
    align-items: flex-start;
  }
  .grow {
    flex: 1;
  }
}

.full {
  @extend .full-height;
  @extend .full-width;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
