@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(blue, $color, $percentage);
}
/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  background-color: rgb(225, 225, 225);
  border: 1px solid rgb(173, 173, 173);
  padding-bottom: 2px;
  padding-top: 2px;
}

.drag-area {
  $color: rgb(70, 130, 244);
  $startingColor: rgba($color, .3);
  background-color: tint(shade($startingColor, 10%), 10%);
  border: 1px tint($startingColor, 20%) solid !important;
  display: block;
  content: '';
  position: absolute;
  user-select: none;
  z-index: 5;
}

.flex {
  display: flex;
  &.horizon-cent {
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.vert-cent {
    align-items: center;
  }
  &.vert-top {
    align-items: flex-start;
  }
  .grow {
    flex: 1;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.full {
  @extend .full-height;
  @extend .full-width;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.inline-block {
  display: inline-block;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
